<tr id="line-row-<%= line.id %>" class="<%= cycle("odd", "even") %>">
  <% if line.character? %>
  <td class="line-cell">
	<div id="line-character-<%= line.id %>" class="character"><p><%= line.character.titlecase %></p></div>
  	<div id="line-<%= line.id %>" class="line"><%=  simple_format(line.line) %></div>
  </td>
  <% else %>
  <td class="stage-direction"><%=  simple_format(line.line) %></td>
  <% end %>
  <td class="performance">
    <% if line.character? and (line.performances.size == 0) and (@nomore == false) %>
      <a href="#new-performance" data-line="<%= line.id %>" class="new-performance-link">Play your part...</a>
	  <% @nomore = true %>
    <% else %>
      <% line.performances.each do |p| %>
        <% if p.approved %>
          <iframe width="380" height="231" src="http://www.youtube.com/embed/<%= get_item_embed_id(p.video_url) %>?rel=0&fs=0" frameborder="0" allowfullscreen></iframe>
        <% else %>
					<% if @usersubmitted %>
	          <p>Thank you! We'll just check you aren't being rude, and then you'll join the ranks of the great and the good.</p>
					<% else %>
			          <p>Performance under review</p>
					<% end %>
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>
