<hgroup>
	<h1><%= image_tag "title.png" %></h1>
	<h2><%= @scene.description %></h2>
</hgroup>
<%= @lines.count %>
<% @lines.each do |line| %>
<dl>
	<dt><%= line.character %></dt>
	<dd><%= simple_format(line.line) %></dd>
</dl>
<% end %>
