<hgroup>
  <h1><%= @scene.title %></h1>
  <h2><%= @scene.description %></h2>
</hgroup>

<div style="display:none" id="new-performance" title="Submit your performance">
  <div class="character"></div>
  <div class="line"></div>
  <hr>
  <%= form_for(@performance, :url => '/drama/create_performance', :remote => true) do |f| %>
  <div id="performance_errors"></div>
	<%= label_tag(:video_url, "Paste your YouTube embed URL (like http://youtu.be/QH2-TGUlwu4)") %>
    <%= f.url_field :video_url %>
    <%= f.label :email_address %>
    <%= f.email_field :email_address %>
    <%= f.label :twitter_name %>
    <%= f.text_field :twitter_name %>
    <%= hidden_field_tag(:line_id) %>
    <%= f.submit %>
	<hr>
    <div>We will never share your email address with anyone, and only include your Twitter name next to your performance if you provide it</div>
  <% end %>
</div>
<table class="lines">
  <tbody>
	<% @nomore = false %>
	<%= render :partial => "line", :collection => @lines %>
  </tbody>
</table>
