<hgroup>
	<h1><%= image_tag "title.png" %></h1>
	<h2><%= @scene.description %></h2>
</hgroup>
<%= @lines.count %>
<% @lines.each do |line| %>
<dl>
	<dt><%= line.character %></dt>
	<dd><%= simple_format(line.line) %></dd>
</dl>
<% end %>

<div>
<b>PRINCE HENRY</b>
<blockquote>
With three or four loggerheads amongst three or four<br>
score hogsheads. I have sounded the very<br>
base-string of humility. Sirrah, I am sworn brother<br>
to a leash of drawers; and can call them all by<br>
their christen names, as Tom, Dick, and Francis.<br>
They take it already upon their salvation, that<br>
though I be but the prince of Wales, yet I am king<br>
of courtesy; and tell me flatly I am no proud Jack,<br>
like Falstaff, but a Corinthian, a lad of mettle, a<br>
good boy, by the Lord, so they call me, and when I<br>
am king of England, I shall command all the good<br>
lads in Eastcheap. They call drinking deep, dyeing<br>
scarlet; and when you breathe in your watering, they<br>
cry  'hem!' and bid you play it off. To conclude, I<br>
am so good a proficient in one quarter of an hour,<br>
that I can drink with any tinker in his own language<br>
during my life. I tell thee, Ned, thou hast lost<br>
much honour, that thou wert not with me in this sweet<br>
action. But, sweet Ned,--to sweeten which name of<br>
Ned, I give thee this pennyworth of sugar, clapped<br>
even now into my hand by an under-skinker, one that<br>
never spake other English in his life than 'Eight<br>
shillings and sixpence' and 'You are welcome,' with<br>
this shrill addition, 'Anon, anon, sir! Score a pint<br>
of bastard in the Half-Moon,' or so. But, Ned, to<br>
drive away the time till Falstaff come, I prithee,<br>
do thou stand in some by-room, while I question my<br>
puny drawer to what end he gave me the sugar; and do<br>
thou never leave calling 'Francis,' that his tale<br>
to me may be nothing but 'Anon.' Step aside, and<br>
I'll show thee a precedent.<br>
</blockquote>

<b>POINS</b>
<blockquote>
Francis!<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Thou art perfect.<br>
</blockquote>

<b>POINS</b>
<blockquote>
Francis!<br>
<p><i>Exit POINS</i></p>
<p><i>Enter FRANCIS</i></p>
</blockquote>

<b>FRANCIS</b>
<blockquote>
Anon, anon, sir. Look down into the Pomgarnet, Ralph.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Come hither, Francis.<br>
</blockquote>

<b>FRANCIS</b>
<blockquote>
My lord?<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
How long hast thou to serve, Francis?<br>
</blockquote>

<b>FRANCIS</b>
<blockquote>
Forsooth, five years, and as much as to--<br>
</blockquote>

<b>POINS</b>
<blockquote>
[Within]  Francis!<br>
</blockquote>

<b>FRANCIS</b>
<blockquote>
Anon, anon, sir.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Five year! by'r lady, a long lease for the clinking<br>
of pewter. But, Francis, darest thou be so valiant<br>
as to play the coward with thy indenture and show it<br>
a fair pair of heels and run from it?<br>
</blockquote>

<b>FRANCIS</b>
<blockquote>
O Lord, sir, I'll be sworn upon all the books in<br>
England, I could find in my heart.<br>
</blockquote>

<b>POINS</b>
<blockquote>
[Within]  Francis!<br>
</blockquote>

<b>FRANCIS</b>
<blockquote>
Anon, sir.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
How old art thou, Francis?<br>
</blockquote>

<b>FRANCIS</b>
<blockquote>
Let me see--about Michaelmas next I shall be--<br>
</blockquote>

<b>POINS</b>
<blockquote>
[Within]  Francis!<br>
</blockquote>

<b>FRANCIS</b>
<blockquote>
Anon, sir. Pray stay a little, my lord.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Nay, but hark you, Francis: for the sugar thou<br>
gavest me,'twas a pennyworth, wast't not?<br>
</blockquote>

<b>FRANCIS</b>
<blockquote>
O Lord, I would it had been two!<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
I will give thee for it a thousand pound: ask me<br>
when thou wilt, and thou shalt have it.<br>
</blockquote>

<b>POINS</b>
<blockquote>
[Within]  Francis!<br>
</blockquote>

<b>FRANCIS</b>
<blockquote>
Anon, anon.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Anon, Francis? No, Francis; but to-morrow, Francis;<br>
or, Francis, o' Thursday; or indeed, Francis, when<br>
thou wilt. But, Francis!<br>
</blockquote>

<b>FRANCIS</b>
<blockquote>
My lord?<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Wilt thou rob this leathern jerkin, crystal-button,<br>
not-pated, agate-ring, puke-stocking, caddis-garter,<br>
smooth-tongue, Spanish-pouch,--<br>
</blockquote>

<b>FRANCIS</b>
<blockquote>
O Lord, sir, who do you mean?<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Why, then, your brown bastard is your only drink;<br>
for look you, Francis, your white canvas doublet<br>
will sully: in Barbary, sir, it cannot come to so much.<br>
</blockquote>

<b>FRANCIS</b>
<blockquote>
What, sir?<br>
</blockquote>

<b>POINS</b>
<blockquote>
[Within]  Francis!<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Away, you rogue! dost thou not hear them call?<br>
<p><i>Here they both call him; the drawer stands amazed, not knowing which way to go</i></p>
<p><i>Enter Vintner</i></p>
</blockquote>

<b>Vintner</b>
<blockquote>
What, standest thou still, and hearest such a<br>
calling? Look to the guests within.<br>
<p><i>Exit Francis</i></p>
My lord, old Sir John, with half-a-dozen more, are<br>
at the door: shall I let them in?<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Let them alone awhile, and then open the door.<br>
<p><i>Exit Vintner</i></p>
Poins!<br>
<p><i>Re-enter POINS</i></p>
</blockquote>

<b>POINS</b>
<blockquote>
Anon, anon, sir.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Sirrah, Falstaff and the rest of the thieves are at<br>
the door: shall we be merry?<br>
</blockquote>

<b>POINS</b>
<blockquote>
As merry as crickets, my lad. But hark ye; what<br>
cunning match have you made with this jest of the<br>
drawer? come, what's the issue?<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
I am now of all humours that have showed themselves<br>
humours since the old days of goodman Adam to the<br>
pupil age of this present twelve o'clock at midnight.<br>
<p><i>Re-enter FRANCIS</i></p>
What's o'clock, Francis?<br>
</blockquote>

<b>FRANCIS</b>
<blockquote>
Anon, anon, sir.<br>
<p><i>Exit</i></p>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
That ever this fellow should have fewer words than a<br>
parrot, and yet the son of a woman! His industry is<br>
upstairs and downstairs; his eloquence the parcel of<br>
a reckoning. I am not yet of Percy's mind, the<br>
Hotspur of the north; he that kills me some six or<br>
seven dozen of Scots at a breakfast, washes his<br>
hands, and says to his wife 'Fie upon this quiet<br>
life! I want work.' 'O my sweet Harry,' says she,<br>
'how many hast thou killed to-day?' 'Give my roan<br>
horse a drench,' says he; and answers 'Some<br>
fourteen,' an hour after; 'a trifle, a trifle.' I<br>
prithee, call in Falstaff: I'll play Percy, and<br>
that damned brawn shall play Dame Mortimer his<br>
wife. 'Rivo!' says the drunkard. Call in ribs, call in tallow.<br>
<p><i>Enter FALSTAFF, GADSHILL, BARDOLPH, and PETO; FRANCIS following with wine</i></p>
</blockquote>

<b>POINS</b>
<blockquote>
Welcome, Jack: where hast thou been?<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
A plague of all cowards, I say, and a vengeance too!<br>
marry, and amen! Give me a cup of sack, boy. Ere I<br>
lead this life long, I'll sew nether stocks and mend<br>
them and foot them too. A plague of all cowards!<br>
Give me a cup of sack, rogue. Is there no virtue extant?<br>
<p><i>He drinks</i></p>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Didst thou never see Titan kiss a dish of butter?<br>
pitiful-hearted Titan, that melted at the sweet tale<br>
of the sun's! if thou didst, then behold that compound.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
You rogue, here's lime in this sack too: there is<br>
nothing but roguery to be found in villanous man:<br>
yet a coward is worse than a cup of sack with lime<br>
in it. A villanous coward! Go thy ways, old Jack;<br>
die when thou wilt, if manhood, good manhood, be<br>
not forgot upon the face of the earth, then am I a<br>
shotten herring. There live not three good men<br>
unhanged in England; and one of them is fat and<br>
grows old: God help the while! a bad world, I say.<br>
I would I were a weaver; I could sing psalms or any<br>
thing. A plague of all cowards, I say still.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
How now, wool-sack! what mutter you?<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
A king's son! If I do not beat thee out of thy<br>
kingdom with a dagger of lath, and drive all thy<br>
subjects afore thee like a flock of wild-geese,<br>
I'll never wear hair on my face more. You Prince of Wales!<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Why, you whoreson round man, what's the matter?<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Are not you a coward? answer me to that: and Poins there?<br>
</blockquote>

<b>POINS</b>
<blockquote>
'Zounds, ye fat paunch, an ye call me coward, by the<br>
Lord, I'll stab thee.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
I call thee coward! I'll see thee damned ere I call<br>
thee coward: but I would give a thousand pound I<br>
could run as fast as thou canst. You are straight<br>
enough in the shoulders, you care not who sees your<br>
back: call you that backing of your friends? A<br>
plague upon such backing! give me them that will<br>
face me. Give me a cup of sack: I am a rogue, if I<br>
drunk to-day.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
O villain! thy lips are scarce wiped since thou<br>
drunkest last.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
All's one for that.<br>
<p><i>He drinks</i></p>
A plague of all cowards, still say I.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
What's the matter?<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
What's the matter! there be four of us here have<br>
ta'en a thousand pound this day morning.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Where is it, Jack? where is it?<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Where is it! taken from us it is: a hundred upon<br>
poor four of us.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
What, a hundred, man?<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
I am a rogue, if I were not at half-sword with a<br>
dozen of them two hours together. I have 'scaped by<br>
miracle. I am eight times thrust through the<br>
doublet, four through the hose; my buckler cut<br>
through and through; my sword hacked like a<br>
hand-saw--ecce signum! I never dealt better since<br>
I was a man: all would not do. A plague of all<br>
cowards! Let them speak: if they speak more or<br>
less than truth, they are villains and the sons of darkness.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Speak, sirs; how was it?<br>
</blockquote>

<b>GADSHILL</b>
<blockquote>
We four set upon some dozen--<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Sixteen at least, my lord.<br>
</blockquote>

<b>GADSHILL</b>
<blockquote>
And bound them.<br>
</blockquote>

<b>PETO</b>
<blockquote>
No, no, they were not bound.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
You rogue, they were bound, every man of them; or I<br>
am a Jew else, an Ebrew Jew.<br>
</blockquote>

<b>GADSHILL</b>
<blockquote>
As we were sharing, some six or seven fresh men set upon us--<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
And unbound the rest, and then come in the other.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
What, fought you with them all?<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
All! I know not what you call all; but if I fought<br>
not with fifty of them, I am a bunch of radish: if<br>
there were not two or three and fifty upon poor old<br>
Jack, then am I no two-legged creature.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Pray God you have not murdered some of them.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Nay, that's past praying for: I have peppered two<br>
of them; two I am sure I have paid, two rogues<br>
in buckram suits. I tell thee what, Hal, if I tell<br>
thee a lie, spit in my face, call me horse. Thou<br>
knowest my old ward; here I lay and thus I bore my<br>
point. Four rogues in buckram let drive at me--<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
What, four? thou saidst but two even now.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Four, Hal; I told thee four.<br>
</blockquote>

<b>POINS</b>
<blockquote>
Ay, ay, he said four.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
These four came all a-front, and mainly thrust at<br>
me. I made me no more ado but took all their seven<br>
points in my target, thus.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Seven? why, there were but four even now.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
In buckram?<br>
</blockquote>

<b>POINS</b>
<blockquote>
Ay, four, in buckram suits.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Seven, by these hilts, or I am a villain else.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Prithee, let him alone; we shall have more anon.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Dost thou hear me, Hal?<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Ay, and mark thee too, Jack.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Do so, for it is worth the listening to. These nine<br>
in buckram that I told thee of--<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
So, two more already.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Their points being broken,--<br>
</blockquote>

<b>POINS</b>
<blockquote>
Down fell their hose.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Began to give me ground: but I followed me close,<br>
came in foot and hand; and with a thought seven of<br>
the eleven I paid.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
O monstrous! eleven buckram men grown out of two!<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
But, as the devil would have it, three misbegotten<br>
knaves in Kendal green came at my back and let drive<br>
at me; for it was so dark, Hal, that thou couldst<br>
not see thy hand.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
These lies are like their father that begets them;<br>
gross as a mountain, open, palpable. Why, thou<br>
clay-brained guts, thou knotty-pated fool, thou<br>
whoreson, obscene, grease tallow-catch,--<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
What, art thou mad? art thou mad? is not the truth<br>
the truth?<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Why, how couldst thou know these men in Kendal<br>
green, when it was so dark thou couldst not see thy<br>
hand? come, tell us your reason: what sayest thou to this?<br>
</blockquote>

<b>POINS</b>
<blockquote>
Come, your reason, Jack, your reason.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
What, upon compulsion? 'Zounds, an I were at the<br>
strappado, or all the racks in the world, I would<br>
not tell you on compulsion. Give you a reason on<br>
compulsion! If reasons were as plentiful as<br>
blackberries, I would give no man a reason upon<br>
compulsion, I.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
I'll be no longer guilty of this sin; this sanguine<br>
coward, this bed-presser, this horseback-breaker,<br>
this huge hill of flesh,--<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
'Sblood, you starveling, you elf-skin, you dried<br>
neat's tongue, you bull's pizzle, you stock-fish! O<br>
for breath to utter what is like thee! you<br>
tailor's-yard, you sheath, you bowcase; you vile<br>
standing-tuck,--<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Well, breathe awhile, and then to it again: and<br>
when thou hast tired thyself in base comparisons,<br>
hear me speak but this.<br>
</blockquote>

<b>POINS</b>
<blockquote>
Mark, Jack.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
We two saw you four set on four and bound them, and<br>
were masters of their wealth. Mark now, how a plain<br>
tale shall put you down. Then did we two set on you<br>
four; and, with a word, out-faced you from your<br>
prize, and have it; yea, and can show it you here in<br>
the house: and, Falstaff, you carried your guts<br>
away as nimbly, with as quick dexterity, and roared<br>
for mercy and still run and roared, as ever I heard<br>
bull-calf. What a slave art thou, to hack thy sword<br>
as thou hast done, and then say it was in fight!<br>
What trick, what device, what starting-hole, canst<br>
thou now find out to hide thee from this open and<br>
apparent shame?<br>
</blockquote>

<b>POINS</b>
<blockquote>
Come, let's hear, Jack; what trick hast thou now?<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
By the Lord, I knew ye as well as he that made ye.<br>
Why, hear you, my masters: was it for me to kill the<br>
heir-apparent? should I turn upon the true prince?<br>
why, thou knowest I am as valiant as Hercules: but<br>
beware instinct; the lion will not touch the true<br>
prince. Instinct is a great matter; I was now a<br>
coward on instinct. I shall think the better of<br>
myself and thee during my life; I for a valiant<br>
lion, and thou for a true prince. But, by the Lord,<br>
lads, I am glad you have the money. Hostess, clap<br>
to the doors: watch to-night, pray to-morrow.<br>
Gallants, lads, boys, hearts of gold, all the titles<br>
of good fellowship come to you! What, shall we be<br>
merry? shall we have a play extempore?<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Content; and the argument shall be thy running away.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Ah, no more of that, Hal, an thou lovest me!<br>
<p><i>Enter Hostess</i></p>
</blockquote>

<b>Hostess</b>
<blockquote>
O Jesu, my lord the prince!<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
How now, my lady the hostess! what sayest thou to<br>
me?<br>
</blockquote>

<b>Hostess</b>
<blockquote>
Marry, my lord, there is a nobleman of the court at<br>
door would speak with you: he says he comes from<br>
your father.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Give him as much as will make him a royal man, and<br>
send him back again to my mother.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
What manner of man is he?<br>
</blockquote>

<b>Hostess</b>
<blockquote>
An old man.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
What doth gravity out of his bed at midnight? Shall<br>
I give him his answer?<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Prithee, do, Jack.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
'Faith, and I'll send him packing.<br>
<p><i>Exit FALSTAFF</i></p>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Now, sirs: by'r lady, you fought fair; so did you,<br>
Peto; so did you, Bardolph: you are lions too, you<br>
ran away upon instinct, you will not touch the true<br>
prince; no, fie!<br>
</blockquote>

<b>BARDOLPH</b>
<blockquote>
'Faith, I ran when I saw others run.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
'Faith, tell me now in earnest, how came Falstaff's<br>
sword so hacked?<br>
</blockquote>

<b>PETO</b>
<blockquote>
Why, he hacked it with his dagger, and said he would<br>
swear truth out of England but he would make you<br>
believe it was done in fight, and persuaded us to do the like.<br>
</blockquote>

<b>BARDOLPH</b>
<blockquote>
Yea, and to tickle our noses with spear-grass to<br>
make them bleed, and then to beslubber our garments<br>
with it and swear it was the blood of true men. I<br>
did that I did not this seven year before, I blushed<br>
to hear his monstrous devices.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
O villain, thou stolest a cup of sack eighteen years<br>
ago, and wert taken with the manner, and ever since<br>
thou hast blushed extempore. Thou hadst fire and<br>
sword on thy side, and yet thou rannest away: what<br>
instinct hadst thou for it?<br>
</blockquote>

<b>BARDOLPH</b>
<blockquote>
My lord, do you see these meteors? do you behold<br>
these exhalations?<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
I do.<br>
</blockquote>

<b>BARDOLPH</b>
<blockquote>
What think you they portend?<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Hot livers and cold purses.<br>
</blockquote>

<b>BARDOLPH</b>
<blockquote>
Choler, my lord, if rightly taken.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
No, if rightly taken, halter.<br>
<p><i>Re-enter FALSTAFF</i></p>
Here comes lean Jack, here comes bare-bone.<br>
How now, my sweet creature of bombast!<br>
How long is't ago, Jack, since thou sawest thine own knee?<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
My own knee! when I was about thy years, Hal, I was<br>
not an eagle's talon in the waist; I could have<br>
crept into any alderman's thumb-ring: a plague of<br>
sighing and grief! it blows a man up like a<br>
bladder. There's villanous news abroad: here was<br>
Sir John Bracy from your father; you must to the<br>
court in the morning. That same mad fellow of the<br>
north, Percy, and he of Wales, that gave Amamon the<br>
bastinado and made Lucifer cuckold and swore the<br>
devil his true liegeman upon the cross of a Welsh<br>
hook--what a plague call you him?<br>
</blockquote>

<b>POINS</b>
<blockquote>
O, Glendower.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Owen, Owen, the same; and his son-in-law Mortimer,<br>
and old Northumberland, and that sprightly Scot of<br>
Scots, Douglas, that runs o' horseback up a hill<br>
perpendicular,--<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
He that rides at high speed and with his pistol<br>
kills a sparrow flying.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
You have hit it.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
So did he never the sparrow.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Well, that rascal hath good mettle in him; he will not run.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Why, what a rascal art thou then, to praise him so<br>
for running!<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
O' horseback, ye cuckoo; but afoot he will not budge a foot.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Yes, Jack, upon instinct.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
I grant ye, upon instinct. Well, he is there too,<br>
and one Mordake, and a thousand blue-caps more:<br>
Worcester is stolen away to-night; thy father's<br>
beard is turned white with the news: you may buy<br>
land now as cheap as stinking mackerel.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Why, then, it is like, if there come a hot June and<br>
this civil buffeting hold, we shall buy maidenheads<br>
as they buy hob-nails, by the hundreds.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
By the mass, lad, thou sayest true; it is like we<br>
shall have good trading that way. But tell me, Hal,<br>
art not thou horrible afeard? thou being<br>
heir-apparent, could the world pick thee out three<br>
such enemies again as that fiend Douglas, that<br>
spirit Percy, and that devil Glendower? Art thou<br>
not horribly afraid? doth not thy blood thrill at<br>
it?<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Not a whit, i' faith; I lack some of thy instinct.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Well, thou wert be horribly chid tomorrow when thou<br>
comest to thy father: if thou love me, practise an answer.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Do thou stand for my father, and examine me upon the<br>
particulars of my life.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Shall I? content: this chair shall be my state,<br>
this dagger my sceptre, and this cushion my crown.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Thy state is taken for a joined-stool, thy golden<br>
sceptre for a leaden dagger, and thy precious rich<br>
crown for a pitiful bald crown!<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Well, an the fire of grace be not quite out of thee,<br>
now shalt thou be moved. Give me a cup of sack to<br>
make my eyes look red, that it may be thought I have<br>
wept; for I must speak in passion, and I will do it<br>
in King Cambyses' vein.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Well, here is my leg.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
And here is my speech. Stand aside, nobility.<br>
</blockquote>

<b>Hostess</b>
<blockquote>
O Jesu, this is excellent sport, i' faith!<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Weep not, sweet queen; for trickling tears are vain.<br>
</blockquote>

<b>Hostess</b>
<blockquote>
O, the father, how he holds his countenance!<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
For God's sake, lords, convey my tristful queen;<br>
For tears do stop the flood-gates of her eyes.<br>
</blockquote>

<b>Hostess</b>
<blockquote>
O Jesu, he doth it as like one of these harlotry<br>
players as ever I see!<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Peace, good pint-pot; peace, good tickle-brain.<br>
Harry, I do not only marvel where thou spendest thy<br>
time, but also how thou art accompanied: for though<br>
the camomile, the more it is trodden on the faster<br>
it grows, yet youth, the more it is wasted the<br>
sooner it wears. That thou art my son, I have<br>
partly thy mother's word, partly my own opinion,<br>
but chiefly a villanous trick of thine eye and a<br>
foolish-hanging of thy nether lip, that doth warrant<br>
me. If then thou be son to me, here lies the point;<br>
why, being son to me, art thou so pointed at? Shall<br>
the blessed sun of heaven prove a micher and eat<br>
blackberries? a question not to be asked. Shall<br>
the sun of England prove a thief and take purses? a<br>
question to be asked. There is a thing, Harry,<br>
which thou hast often heard of and it is known to<br>
many in our land by the name of pitch: this pitch,<br>
as ancient writers do report, doth defile; so doth<br>
the company thou keepest: for, Harry, now I do not<br>
speak to thee in drink but in tears, not in<br>
pleasure but in passion, not in words only, but in<br>
woes also: and yet there is a virtuous man whom I<br>
have often noted in thy company, but I know not his name.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
What manner of man, an it like your majesty?<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
A goodly portly man, i' faith, and a corpulent; of a<br>
cheerful look, a pleasing eye and a most noble<br>
carriage; and, as I think, his age some fifty, or,<br>
by'r lady, inclining to three score; and now I<br>
remember me, his name is Falstaff: if that man<br>
should be lewdly given, he deceiveth me; for, Harry,<br>
I see virtue in his looks. If then the tree may be<br>
known by the fruit, as the fruit by the tree, then,<br>
peremptorily I speak it, there is virtue in that<br>
Falstaff: him keep with, the rest banish. And tell<br>
me now, thou naughty varlet, tell me, where hast<br>
thou been this month?<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Dost thou speak like a king? Do thou stand for me,<br>
and I'll play my father.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Depose me? if thou dost it half so gravely, so<br>
majestically, both in word and matter, hang me up by<br>
the heels for a rabbit-sucker or a poulter's hare.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Well, here I am set.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
And here I stand: judge, my masters.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Now, Harry, whence come you?<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
My noble lord, from Eastcheap.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
The complaints I hear of thee are grievous.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
'Sblood, my lord, they are false: nay, I'll tickle<br>
ye for a young prince, i' faith.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Swearest thou, ungracious boy? henceforth ne'er look<br>
on me. Thou art violently carried away from grace:<br>
there is a devil haunts thee in the likeness of an<br>
old fat man; a tun of man is thy companion. Why<br>
dost thou converse with that trunk of humours, that<br>
bolting-hutch of beastliness, that swollen parcel<br>
of dropsies, that huge bombard of sack, that stuffed<br>
cloak-bag of guts, that roasted Manningtree ox with<br>
the pudding in his belly, that reverend vice, that<br>
grey iniquity, that father ruffian, that vanity in<br>
years? Wherein is he good, but to taste sack and<br>
drink it? wherein neat and cleanly, but to carve a<br>
capon and eat it? wherein cunning, but in craft?<br>
wherein crafty, but in villany? wherein villanous,<br>
but in all things? wherein worthy, but in nothing?<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
I would your grace would take me with you: whom<br>
means your grace?<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
That villanous abominable misleader of youth,<br>
Falstaff, that old white-bearded Satan.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
My lord, the man I know.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
I know thou dost.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
But to say I know more harm in him than in myself,<br>
were to say more than I know. That he is old, the<br>
more the pity, his white hairs do witness it; but<br>
that he is, saving your reverence, a whoremaster,<br>
that I utterly deny. If sack and sugar be a fault,<br>
God help the wicked! if to be old and merry be a<br>
sin, then many an old host that I know is damned: if<br>
to be fat be to be hated, then Pharaoh's lean kine<br>
are to be loved. No, my good lord; banish Peto,<br>
banish Bardolph, banish Poins: but for sweet Jack<br>
Falstaff, kind Jack Falstaff, true Jack Falstaff,<br>
valiant Jack Falstaff, and therefore more valiant,<br>
being, as he is, old Jack Falstaff, banish not him<br>
thy Harry's company, banish not him thy Harry's<br>
company: banish plump Jack, and banish all the world.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
I do, I will.<br>
<p><i>A knocking heard</i></p>
<p><i>Exeunt Hostess, FRANCIS, and BARDOLPH</i></p>
<p><i>Re-enter BARDOLPH, running</i></p>
</blockquote>

<b>BARDOLPH</b>
<blockquote>
O, my lord, my lord! the sheriff with a most<br>
monstrous watch is at the door.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Out, ye rogue! Play out the play: I have much to<br>
say in the behalf of that Falstaff.<br>
<p><i>Re-enter the Hostess</i></p>
</blockquote>

<b>Hostess</b>
<blockquote>
O Jesu, my lord, my lord!<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Heigh, heigh! the devil rides upon a fiddlestick:<br>
what's the matter?<br>
</blockquote>

<b>Hostess</b>
<blockquote>
The sheriff and all the watch are at the door: they<br>
are come to search the house. Shall I let them in?<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Dost thou hear, Hal? never call a true piece of<br>
gold a counterfeit: thou art essentially mad,<br>
without seeming so.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
And thou a natural coward, without instinct.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
I deny your major: if you will deny the sheriff,<br>
so; if not, let him enter: if I become not a cart<br>
as well as another man, a plague on my bringing up!<br>
I hope I shall as soon be strangled with a halter as another.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Go, hide thee behind the arras: the rest walk up<br>
above. Now, my masters, for a true face and good<br>
conscience.<br>
</blockquote>

<b>FALSTAFF</b>
<blockquote>
Both which I have had: but their date is out, and<br>
therefore I'll hide me.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Call in the sheriff.<br>
<p><i>Exeunt all except PRINCE HENRY and PETO</i></p>
<p><i>Enter Sheriff and the Carrier</i></p>
Now, master sheriff, what is your will with me?<br>
</blockquote>

<b>Sheriff</b>
<blockquote>
First, pardon me, my lord. A hue and cry<br>
Hath follow'd certain men unto this house.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
What men?<br>
</blockquote>

<b>Sheriff</b>
<blockquote>
One of them is well known, my gracious lord,<br>
A gross fat man.<br>
</blockquote>

<b>Carrier</b>
<blockquote>
                  As fat as butter.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
The man, I do assure you, is not here;<br>
For I myself at this time have employ'd him.<br>
And, sheriff, I will engage my word to thee<br>
That I will, by to-morrow dinner-time,<br>
Send him to answer thee, or any man,<br>
For any thing he shall be charged withal:<br>
And so let me entreat you leave the house.<br>
</blockquote>

<b>Sheriff</b>
<blockquote>
I will, my lord. There are two gentlemen<br>
Have in this robbery lost three hundred marks.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
It may be so: if he have robb'd these men,<br>
He shall be answerable; and so farewell.<br>
</blockquote>

<b>Sheriff</b>
<blockquote>
Good night, my noble lord.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
I think it is good morrow, is it not?<br>
</blockquote>

<b>Sheriff</b>
<blockquote>
Indeed, my lord, I think it be two o'clock.<br>
<p><i>Exeunt Sheriff and Carrier</i></p>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
This oily rascal is known as well as Paul's. Go,<br>
call him forth.<br>
</blockquote>

<b>PETO</b>
<blockquote>
Falstaff!--Fast asleep behind the arras, and<br>
snorting like a horse.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Hark, how hard he fetches breath. Search his pockets.<br>
<p><i>He searcheth his pockets, and findeth certain papers</i></p>
What hast thou found?<br>
</blockquote>

<b>PETO</b>
<blockquote>
Nothing but papers, my lord.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
Let's see what they be: read them.<br>
</blockquote>

<b>PETO</b>
<blockquote>
[Reads]  Item, A capon,. . 2s. 2d.<br>
Item, Sauce,. . . 4d.<br>
Item, Sack, two gallons, 5s. 8d.<br>
Item, Anchovies and sack after supper, 2s. 6d.<br>
Item, Bread,        ob.<br>
</blockquote>

<b>PRINCE HENRY</b>
<blockquote>
O monstrous! but one half-penny-worth of bread to<br>
this intolerable deal of sack! What there is else,<br>
keep close; we'll read it at more advantage: there<br>
let him sleep till day. I'll to the court in the<br>
morning. We must all to the wars, and thy place<br>
shall be honourable. I'll procure this fat rogue a<br>
charge of foot; and I know his death will be a<br>
march of twelve-score. The money shall be paid<br>
back again with advantage. Be with me betimes in<br>
the morning; and so, good morrow, Peto.<br>
<p><i>Exeunt</i></p>
</blockquote>

<b>PETO</b>
<blockquote>
Good morrow, good my lord.<br>
</blockquote>
</div>
