<hgroup>
	<h1><%= image_tag "title.png" %></h1>
	<h2><%= @scene.description %></h2>
</hgroup>

<% @lines.each do |line| %>
<div class="line">
	<% if line.character? %>
	<b><%= line.character %></b> <%= simple_format(line.line) %>
	<% else %>
	<i><%=  simple_format(line.line) %></i>
	<% end %>
</div>
<% end %>
