<hgroup>
  <h1><%= image_tag "title.png" %></h1>
  <h2><%= @scene.description %></h2>
</hgroup>

<%= flash[:notice] %>

<div style="display:none" id="new-performance">
  <%= form_for(@performance, :url => '/drama/create_performance', :remote => true) do |f| %>
    <!--<caption>We will never share your email address with anyone, and only include show Twitter name next to your performance if you provide it</caption>-->
    <%= f.label :video_url %>:
    <%= f.url_field :video_url %><br />
    <%= f.label :email_address %>:
    <%= f.email_field :email_address %><br />
    <%= f.label :twitter_name %>:
    <%= f.text_field :twitter_name %><br />
    <%= hidden_field_tag(:line_id) %>
    <%= f.submit %>
  <% end %>
</div>
<table class="lines">
  <tbody>
  <% @lines.each do |line| %>
    <tr>
      <% if line.character? %>
      <td><%= line.character %></td><td><%=  simple_format(line.line) %></td>
      <% else %>
      <td colspan="2" class="stage-direction"><%=  simple_format(line.line) %></td>
      <% end %>
      <td>
        <% if line.character? and (line.performances.count == 0) %>
          <a href="#" data-line="<%= line.id %>" class="new-performance-link">Your line...</a>
        <% else %>
          <% line.performances.each do |p| %>
            <% if p.approved %>
              <iframe width="380" height="231" src="http://www.youtube.com/embed/<%= get_item_embed_id(p.video_url) %>?rel=0&fs=0" frameborder="0" allowfullscreen></iframe>
            <% else %>
              <p>We have a performance waiting to be reviewed.</p>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
