<hgroup>
  <h1><%= @scene.title %></h1>
  <h2><%= @scene.description %></h2>
</hgroup>

<%= flash[:notice] %>

<div style="display:none" id="new-performance" title="Submit your performance">
  <div class="character"></div>
  <div class="line"></div>
  <hr>
  <%= form_for(@performance, :url => '/drama/create_performance', :remote => true) do |f| %>
	<%= label_tag(:video_url, "Paste your YouTube embed URL (like http://youtu.be/QH2-TGUlwu4)") %>
    <%= f.url_field :video_url %>
    <%= f.label :email_address %>
    <%= f.email_field :email_address %>
    <%= f.label :twitter_name %>
    <%= f.text_field :twitter_name %>
    <%= hidden_field_tag(:line_id) %>
    <%= f.submit %>
	<hr>
    <div>We will never share your email address with anyone, and only include your Twitter name next to your performance if you provide it</div>
  <% end %>
</div>
<table class="lines">
  <tbody>
	  <% nomore = false %>
  <% @lines.each do |line| %>
    <tr>
      <% if line.character? %>
      <td id="line-character-<%= line.id %>" class="character"><%= line.character %></td>
      <td id="line-<%= line.id %>" class="line"><%=  simple_format(line.line) %></td>
      <% else %>
      <td colspan="2" class="stage-direction"><%=  simple_format(line.line) %></td>
      <% end %>
      <td class="performance">
        <% if line.character? and (line.performances.count == 0) and (nomore == false) %>
          <a href="#new-performance" data-line="<%= line.id %>" class="new-performance-link">Play your part...</a>
		  <% nomore = true %>
        <% else %>
          <% line.performances.each do |p| %>
            <% if p.approved %>
              <iframe width="380" height="231" src="http://www.youtube.com/embed/<%= get_item_embed_id(p.video_url) %>?rel=0&fs=0" frameborder="0" allowfullscreen></iframe>
            <% else %>
              <p>We have a performance waiting to be reviewed.</p>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
