<div style="display:none" id="new-performance" title="Submit your performance">
  <div class="character"></div>
  <div class="line"></div>
  <hr>
  <%= form_for(@performance, :url => '/drama/create_performance', :remote => true) do |f| %>
  <div id="performance_errors"></div>
	<%= label_tag(:video_url, "Paste your YouTube embed URL (like http://youtu.be/QH2-TGUlwu4)") %>
    <%= f.url_field :video_url %>
    <%= f.label :email_address %>
    <%= f.email_field :email_address %>
    <%= f.label :twitter_name %>
    <%= f.text_field :twitter_name %>
    <%= hidden_field_tag(:line_id) %>
    <%= f.submit %>
	<hr>
    <div>We will never share your email address with anyone, and only include your Twitter name next to your performance if you provide it</div>
  <% end %>
</div>
<table class="lines">
  <thead>
	  <th colspan="2"><%= @scene.title %><br /><%= @scene.description %></th>
	  <th><h2>How to record</h2>
		  <ol>
			  <li>Head on over to YouTube</li>
				<li>Record a video of you saying the line - you don't have to be in the video if you want!</li>
				<li>Come back here and paste the YouTube share URL into the box</li>
		</ol>
</th>
  </thead>
  <tbody>
	<%= render :partial => "line", :collection => @lines, :nomore => @nomore %>
  </tbody>
</table>
